python-dotenv
pandas==2.2.2
numpy==1.26.4
statsmodels==0.14.1
scipy==1.13.1
matplotlib==3.8.4
seaborn==0.13.2
google-cloud-bigquery==3.21.0
pandas-gbq==0.19.2
openpyxl==3.1.2
nltk==3.8.1
scikit-learn==1.5.0
jupyter==1.0.0
ipykernel==6.29.4
bertopic==0.16.0
transformers==4.41.1
plotly==5.21.0